#login_email {
  padding: 8px 6px;
  font-size: 16px;
  font-weight: 500;
}

#login_password {
  padding: 6px 6px;
  font-size: 16px;
  font-weight: 500;
}

.ant-btn{
    padding: 20px 8px;
    font-size: 18px;
}